/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
body{
	text-align:center;
}
.board {
	height: 50%;
	width: 50%;
	display:inline-block;
	
}

.card {
	height:200px;
	width:150px;
	border:1px solid #050000;
	background-color:#ffff00;
	border-radius:10px;
	float:left;
	margin:8%;
}

h1{
	color:rgb(2,132,130);
}

h2{
	color:#ffd700;
}

.name{
	color:#ff0000;
}

nav{
	background-color: #808080;

}

nav a {
	color:white;
	padding: 35px;
	display:block;
	float:left;
	background-color: #ffbf00;
	text-decoration: none;
}

nav a:hover{
	background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

footer{
	background-color: #808080;
}